<div class="row" data-hook='admin_products_index_search_store'>
  <div class='col-md-4'>
    <div class="form-group">
      <label><%= Spree.t(:store) %></label>
      <%= f.select :stores_id_eq, Spree::Store.all.collect {|s| [s.name, s.id ] }, {:include_blank => true}, {:class => 'form-control'} %>
    </div>
  </div>
</div>
