<div data-hook="admin_product_form_stores">  
  <div class="form-group field" id="product_meta_description_field">
    <%= f.label :stores, Spree.t(:stores)%>
    <div class="checkbox">
      <% Spree::Store.all.each do |store| %>
        <label>
          <%= check_box_tag "product[store_ids][]", store.id, f.object.stores.include?(store) %> <%= store.name %>
        </label>
      <% end %>
    </div>
  </div>
</div>  